.jumbotron
{
    margin-top:50px;
}
.jumbotron, footer
{
    background-color:lightsteelblue;
    color: black;
}
footer{
    padding: 10px 10px 10px 10px;
}

.columnFlex
{
    flex: 1 250px;
    padding: 2px 7px 2px 7px;
    background-color: rgb(212, 227, 255);
    /* margin: 2px 2px 2px 2px; */
    /* border: solid 1px black; */
}

.columnFlex .btn{
    width: 100%;
}

.btn.btn-primary
{
    background-color: darkslateblue;
}

body{
    /* background-color: darkgray; */
    font-family: 'Comic Sans MS';
}

footer .oi
{
    padding-right: 5px;
    color: darkslateblue;
}

.table-responsive
{
    text-align: center;
}

.oi-check{
    color: green;
}

.oi-x{
    color: red;
}

.oi-star{
    color: gold;
}

.indexImage{
    width: 100%;
}

.tab-pane
{
    margin-top:5px;
}

#hotelsCarousel p{
    font-size:20px;
}