.jumbotron {
  margin-top: 50px;
}
.jumbotron,
footer {
  background-color: lightsteelblue;
  color: black;
}
footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.columnFlex {
  flex: 1 250px;
  padding-left: 2px;
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 7px;
  background-color: #d4e3ff;
}
.columnFlex .btn {
  width: 100%;
}
.btn.btn-primary {
  background-color: darkslateblue;
}
body {
  font-family: 'Comic Sans MS';
}
footer .oi {
  padding-right: 5px;
  color: darkslateblue;
}
.table-responsive {
  text-align: center;
}
.oi-check {
  color: green;
}
.oi-x {
  color: red;
}
.oi-star {
  color: gold;
}
.indexImage {
  width: 100%;
}
.tab-pane {
  margin-top: 5px;
}
#hotelsCarousel p {
  font-size: 20px;
}
