@ppalColor: lightsteelblue;
@ppalFontColor: black;
@botonColor: darkslateblue;

.setPadding(@left:0px, @top:0px, @right:0px, @bottom:0px) {
    padding-left: @left;
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
}

.jumbotron
{
    margin-top:50px;
}
.jumbotron, footer
{
    background-color:@ppalColor;
    color:@ppalFontColor;
}
footer{
    // padding: 10px 10px 10px 10px;
    .setPadding(10px, 10px, 10px, 10px);
}

.columnFlex
{
    flex: 1 250px;
    // padding: 2px 7px 2px 7px;
    .setPadding(2px,7px,2px,7px);
    background-color: rgb(212, 227, 255);
}

.columnFlex .btn{
    width: 100%;
}

.btn.btn-primary
{
    background-color: @botonColor;
}

body{
    font-family: 'Comic Sans MS';
}

footer .oi
{
    padding-right: 5px;
    color: darkslateblue;
}

.table-responsive
{
    text-align: center;
}

.oi-check{
    color: green;
}

.oi-x{
    color: red;
}

.oi-star{
    color: gold;
}

.indexImage{
    width: 100%;
}

.tab-pane
{
    margin-top:5px;
}

#hotelsCarousel p{
    font-size:20px;
}